
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #000000;
}



a {
  color: inherit;
  text-decoration: none;
}

/* ダークモードを無効化 */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */