@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Serif+JP:wght@300;400;500;600&display=swap');

//フォント
$noto-sans: 'Noto Sans JP', sans-serif;
$noto-serif: 'Noto Serif JP', serif;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;


//カラー
$black: #011229;
$bg-white: #F4F5F6;
$navy: #19273A;
$light-gray: #e3e9eb;
$keyColor: #247698;
$orange: #db6022;

//その他
$transition: .3s ease;
$page-top-blank: 8rem;
$footer-height: 200px;

