@use '../../styles/global/' as g;

$border: 2.5px solid rgba(#fff, 0.8);
$titleHeight: 4vh;
$defaultFontSize: 2vw;
$defaultFontWeight: g.$semi-bold;
$titleFontSize: 1.25vw;



.container{
    width: 100vw;
    height: 100vh;
    background-color: g.$orange;
    color: #fff;
    display: flex;
    overflow: hidden;
}

.loading{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: g.$orange;
    color: #fff;
    font-size: $defaultFontSize;
    font-weight: $defaultFontSize;
}

.weather{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topInfo{
    padding: 1vh 0.75vw;
    height: $titleHeight;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.futureContainer{
    display: flex;
}

.futureTitle, .todayTitle{
        text-transform: capitalize;
        text-align: center;
        background: #fff;
        color: g.$orange;
        border-right: 2px solid g.$orange;
        height: $titleHeight;
        display: flex;
        align-items: center;
        justify-content: center;

        h3{
            font-size: $titleFontSize;
            font-weight: $defaultFontWeight;
            margin-bottom: -2px
        }
}

.future{
    flex: 1;

    &Info{
        height: calc(45vh - $titleHeight);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-right: $border;
         font-weight: $defaultFontWeight;
        font-size: $defaultFontSize;
    }
        .futureSnow{
       display: flex;
       align-items: flex-end;
       
       p{
           font-size: 3vw;
            position: relative;

            &::after{
                content: 'cm';
                font-size: 1.5vw;
                margin-left: 0.2vw;
                text-transform: uppercase;
            }
       }
    }

    &:last-child{
        .futureTitle, .futureInfo{
            border-right: none;
        }
    }
}


.cameraTitle{
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: $border;
    line-height: 1;
    width: 100%;

    h1{
        margin-top: 1vh;
        font-size: 5vw;
        font-weight: $defaultFontWeight;
        letter-spacing: -5%;
        word-spacing: -0.25vw;
        text-transform: uppercase;
    }
}




.today{
    flex: 1;
    font-size: 1.5vw;

    .todayInfo, .todaySnowContainer{
        height: calc(50% - #{$titleHeight / 2});
    }
    
    
    &Title{
        margin-top: 0.5vh;
    }
    

    &Info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: $border;
       

        & > div{
            flex: 1;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: $border;
            font-weight: $defaultFontWeight;
            font-size: $defaultFontSize;
            &:last-child{
                border-right: none;
            }
        }
        
    }
    .todayTemp{
        font-size: 4vw;
        letter-spacing: 5px;
    }

    &SnowContainer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        
        line-height: 1.2;
        font-weight: $defaultFontWeight;
        text-transform: capitalize;

        p{
            font-size: 3.5vw;

            span{
                font-size: 1.5vw;
                margin-left: 0.2vw;
                text-transform: uppercase;
            }
        }

    .todaySnowIcon{
        flex: 0.7;
    }

        & > div{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
        }
        
    }
}



.liveCamera{
    flex: 1;
    height: inherit;
    height: 100vh;
    overflow: hidden; // 画像下部の余白を削除
    position: relative;

    .topLabel, .bottomLabel{
        position: absolute;
        right: 0;
        background: g.$orange;
    }
    .topLabel{
        top: 0;
        padding: 0.25rem 1rem;
    }
    .bottomLabel{
        bottom: 0;
        display: flex;
        align-items: flex-end;
        padding: 0.25rem 6.25rem 0.25rem 1rem;
        p:nth-child(2){
            margin-left: 0.75rem;
        }

        img{
            position: absolute;
            right: 1rem;
            bottom: 0.5rem;
        }
    }

    .cameraImgContainer{
        width: 100%;
        height: 105%; // 画像下部の余白を削除
        position: relative;

        img{
          object-fit: cover;
        }
    }
}

